h1 {
    text-align: center;
    color: floralwhite;
    background-color: black;
}
table{
    width=60;
    border-collapse : collapse;
    margin-top : 20px;
}
.image-container {
   float: right;
    margin: 2px;
    
}
.image-container2 {
   float: right;
    margin: 2px;
   ;
}
.image-container3 {
   float: right;
    margin: 2px;
    
}
h3{
    text-align: center;
    color: floralwhite;
    background-color: black;
}
p{
    text-align: center;
    
}
* {
    font-family: Arial, sans-serif;
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}
*{
    background-color: lightyellow;
}